pkgbase = appnest
	pkgdesc = A clean, modern AppImage manager built with Rust, GTK4, and Libadwaita
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/1kailas/Appnest
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = p7zip
	optdepends = squashfs-tools: for extracting SquashFS AppRun fallback
	source = appnest-0.1.0.tar.gz::https://github.com/1kailas/Appnest/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 6f26a58f65659056514ce880a7f7005e283ff9f864e549b05a7c343763b74b53

pkgname = appnest
